# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
ENV/
env/
env.bak/
venv.bak/

# Flask instance folder
instance/

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# pyre type checker
.pyre/

# Flask debug log files
*.log

# dotenv environment variables file
.env
.env.local
.env.*.local

# VS Code settings
.vscode/

# JetBrains IDEs
.idea/

# macOS
.DS_Store

# Ignore SQLite database files
*.db
*.sqlite3
